html {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #97ADA5;
  color: black;
  margin: 0;
}

nav {
  background-color: #909794;
  color: black;
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
  min-height: 40px;
}

.fa-solid {
  color: black;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

#home-icon {
  height: 25px;
  width: 25px;
}
