:root {
  --font: 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
  --color1: #32373B;
  --color2: #4A5859;
  --color3: #F4D6CC;
  --textarea-color: #e5e5e5;
  --border-color: #828282;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
  color: white;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: var(--color1);
  /* color: black; */
  margin: 0;
}

/* main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

nav {
  background-color: var(--color3);
  /* color: black; */
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
  min-height: 40px;
}

nav > div {
  margin-left: auto;
}

nav > div > a:link { 
  text-decoration: none;
  margin-right: 20px;
}

nav .fa-solid {
  color: black;
}

#home-icon {
  height: 25px;
  width: 25px;
}
