:root {
  --font: 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
  --color1: #3F3244;
  --color2a: #584352;
  --color2b: #60495A;
  --color3: #A9ACA9;
  --color4: #BFC3BA;
  --shieldColor: #eac25d;
  --heartColor: #fc6262;
  --editColor: #A6CDC4;
  --labelColor: #60495A;
  --border-color: #616161;
  --submit-color: #A6CDC4;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', sans-serif;
  color: white;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: var(--color1);
  margin: 0;
}

nav {
  background-color: var(--color4);
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
  min-height: 50px;
}

nav > div {
  margin-left: auto;
}

nav > div > a:link { 
  text-decoration: none;
  margin-right: 20px;
}

nav i[class^="fa-"]{
  color: black;
}

#home-icon {
  height: 40px;
  width: 40px;
}
