<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  </form>
</main>

<%- include('../partials/footer') %>
