form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 350px));
  width: 600px;
  margin: 0 auto;
}

form * {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
}

input[type="number"] {
  width: 100px;
}

input[type="checkbox"] {
  justify-self: start;
  width: 30px;
}

input[type="checkbox"]:checked {
  accent-color: white;
}

.radio-container * {
  display: inline;
  padding-left: 0;
}

form > button {
  grid-column-start: 2;
  margin-left: auto;
  background-color: var(--color3);
  width: 150px;
  padding: 5px;
}

#delete-form > button{
  margin-top: 10px;
  background-color: rgb(190, 190, 190);
}

h1 {
  text-align: center;
  margin: 50px auto;
}

#edit-review-form {
  display: flex;
  flex-direction: column;
}

.edit-rating {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

textarea {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--textarea-color);
  font-family: var(--font);
  padding: 5px 10px;
  height: 150px;
}

#post-review-btn {
  float: right;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--color3);
  font-size: 20px;
}

/* code below from https://codeconvey.com/css-star-rating-radio-buttons/ */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}

.star-cb-group {
  margin-left: 10px;
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star-cb-group * {
  font-size: 1.5rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color:gold;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: gold;
  text-shadow: 0 0 1px #333;
}
