form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 350px));
  width: 600px;
  margin: 0 auto;
}

form * {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
}

input[type="number"] {
  width: 100px;
}

input[type="checkbox"] {
  justify-self: start;
  width: 30px;
}

input[type="checkbox"]:checked {
  accent-color: white;
}

.radio-container * {
  display: inline;
  padding-left: 0;
}

form > button {
  grid-column-start: 2;
  margin-left: auto;
  background-color: var(--color3);
  width: 150px;
  padding: 5px;
}

#delete-form > button{
  margin-top: 10px;
  background-color: rgb(190, 190, 190);
}

h1 {
  text-align: center;
  margin: 50px auto;
}

#edit-review-form {
  display: flex;
  flex-direction: column;
}

.edit-rating {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  font-size: 20px;
}

#review-text-input {
  width: 100%;
  height: 75px;
  padding: 15px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--textarea-color);
  font-size: 16px;
  font-family: var(--font);
  margin-top: 10px;
}

#post-review-btn {
  float: right;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--color3);
  font-size: 20px;
}