main {
  display: grid;
  grid-template-areas: "image header header" "left middle right" "description description description" "reviews reviews reviews";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 200px 100px auto;
  width: 800px; 
  margin: 50px auto;
  font-size: 20px;
}

section {
  margin-top: 20px;
}

section.game-image {
  grid-area: image;
  place-self: center;
}

section.game-image > img {
  width: 200px;
}

section.game-header {
  grid-area: header;
  place-self: center;
}

.name-fav-edit * {
  display: inline;
}

.fav-edit-btns {
  display: inline-block;
}

.name-fav-edit > h1 {
  font-size: 40px;
  margin-right: 40px;
}

.name-fav-edit button {
  background-color: transparent;
  color: var(--editColor);
  border: none;
}

.name-fav-edit form button {
  color: var(--heartColor);
}

.avgRating {
  display: flex;
  align-items: center;
}

.avgRating > p {
  font-style: italic;
  margin-left: 10px;
}

section.left, section.right, section.middle {
  flex-wrap: wrap;
}

section.left > div, section.right > div, section.middle > div {
  height: 50px;
}

section.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
}

section.middle > div * {
  display: inline-block;
  grid-area: middle;
}

section.right > div * {
  display: inline-block;
  grid-area: right;
}

.label {
  color:white;
  padding: 4px 8px;
  background-color: var(--labelColor);
  border-radius: 25px;
  font-size: 16px;
  margin-left: 10px;
}

section.description {
  grid-area: description;
  border-radius: 5px;
  background-color: var(--background-contrast);
  padding: 15px;
  font-size: 16px;
}

section.description > p {
  font-style: italic;
}

section.reviews {
  grid-area: reviews;
}

.section.reviews {
  display: flex;
  flex-direction: column;
}

#review-form {
  margin-bottom: 60px;
}

#review-text-input {
  width: 100%;
  height: 75px;
  padding: 15px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
  font-family: var(--font);
  margin-top: 10px;
}

#post-review-btn {
  float: right;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--submit-color);
  font-size: 20px;
}

.review-container {
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 15px;
  background-color: var(--background-contrast);
  margin: 15px 0;
  font-size: 16px;
}

.review-container> .all-but-review * {
  display: inline;
}

.all-but-review >.author-btns {
  float: right;
}

.all-but-review button {
  background-color: transparent;
  color: var(--editColor);
  border: none;
}

.all-but-review > .author-btns > p {
  font-style: italic;
  margin-right: 20px;
}

a:link { 
  text-decoration: none; 
}

/* code below from https://codeconvey.com/css-star-rating-radio-buttons/ */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}

.star-cb-group {
  display: inline-flex;
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.star-cb-group * {
  font-size: 1.5rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color:gold;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: gold;
  text-shadow: 0 0 1px #333;
}
