
/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
main {
  display: grid;
  grid-template-areas: "image header header" "left middle right" "reviews reviews reviews";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;

  /* margin: 20px 40px; */
  width: 500px; 
  /* justify-items: center;
  align-content: center;
  justify-content: center; */
  overflow: hidden;
  margin: 0 auto;
}

section.game-image {
  grid-area: image;
  place-self: center stretch;
}

section.game-image > img {
  width: 150px;
}

section.game-header {
  grid-area: header;
  /* display: flex; */
  place-self: center;
  /* grid-template-columns: 33% 33% 33%;
  grid-template-rows: 75% 25%; */
  /* flex-direction: column; */
}

.name-fav-edit * {
  display: inline;
}

.name-fav-edit > h1 {
  font-size: 40px;
  margin-right: 40px;
}

.name-fav-edit button {
  background-color: transparent;
  border: none;
}

.avgRating {
  display: flex;
  align-items: center;
}

.avgRating > p {
  font-style: italic;
}

/* section.left, section.right, section.middle {
  height: 200px;
} */
section.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
}

section.middle > div * {
  display: inline-block;
  grid-area: middle;
}

section.right > div * {
  display: inline-block;
  grid-area: right;
}

.label {
  color:white;
  padding: 4px 8px;
  background-color: black;
  border-radius: 25px;
  font-size: 12px;
}

.label.low {
  background-color: green;
}

.label.med {
  background-color: orange;
}

.label.high {
  background-color: red;
}

section.reviews {
  grid-area: reviews;
  /* margin-top: 30px; */
}

.star-container {
  display: inline;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
}

.star {
  /* -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important; */
  appearance: none;
  width: 24px;
  height: 24px;
  background-image: url('https://www.worthschools.net/userfiles/197/my%20files/4-stars.jpg?id=29736');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 0;
  cursor: pointer;
}

.star:checked, .star:checked~input[class="star"] {
  background-position: left 0;
}

.section.reviews {
  display: flex;
  flex-direction: column;
}

div.show-rating {
  margin-bottom: 10px;
}

#review-text-input {
  width: 100%;
  height: 75px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 12px;
  font-family: var(--font);
}

#review-form {
  margin-bottom: 20px;
}
#post-review-btn {
  float: right;
  border-radius: 5px;
}

.all-but-review * {
  text-decoration: none; 
  display: inline;
}

.all-but-review > p, .all-but-review > a, .all-but-review > form {
  float: right;
}

.all-but-review > a {
  float: right;
}

.all-but-review > form {
  float: right;
}